/* Large Mobile Screen */
@media screen and (min-height: 700px) and (max-height: 950px) {
  .section__case-study h1 {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }

  .section__case-study .second-content {
    padding-top: 2rem;
  }

  .section__case-study .second-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
