@font-face {
  font-family: "PPRader";
  src: url("@/assets/fonts/PPRader.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "PPNeueMontreal";
  src: url("@/assets/fonts/PPNeueMontreal-book.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "PPNeueMontreal";
}

h1,
h2,
label {
  font-family: "PPRader";
}
