/* Large top-screen Screen */
@media screen and (min-height: 700px) and (max-height: 1000px) {
  .section__blog .top-screen {
    padding-top: 8rem;
    margin-bottom: 1rem;
  }
  
  .section__blog .top-screen h1 {
    font-size: 3rem;
    line-height: 2.5rem;
  }

  .section__blog .top-screen p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0;
  }

  .section__blog .bottom-screen h2 {
    font-size: 1.3rem;
  }

  .section__blog .bottom-screen>div {
    padding: 1.5rem;
  }
}
