@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --home-gray: #2d2a2b;
  --home-gray-82: #828282;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "PPNeueMontreal";
  color: var(--home-gray);
  height: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}

h1,
h2,
label {
  font-family: "PPRaderBold";
}

section {
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  display: none;
}

.home__bg-gray {
  background-color: var(--home-gray);
}

.home__text-gray {
  color: var(--home-gray);
}

.home__border-gray {
  border-color: var(--home-gray);
}

.home__text-gray-82 {
  color: var(--home-gray-82);
}

.nav-menu.open {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.5;
  cursor: pointer;
}

.pp-rader {
  font-family: "PPRader";
}
